#cabecera{
    padding-left: 5px;
    margin-top: 5px;
}
.navbar {
    background-color: #AB1111;
  }

  footer{
      background-color:#AB1111 ;
  }
  footer h3{
      color: white;
  }
  footer p{
      color: white;
  }
  #ultimo{
      text-align: center;
  }
  form{
    border: 5px;
    border-radius: 3px;
}
#contactanos input {
    
    width: 500px;
}
button{
    width: 590px;
}